body{
    margin: 0;
}
h1{
    margin: 0;
}

#sesi-1{

    width: 100%;
    height: 100vh;
    background-color: #dedede;
    background-image: url("image/main-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    

}


nav {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    justify-content: space-around;
    display: flex;
}

nav ul {
    display: flex;
    position: absolute;
    top: 15%;
    left: 20%;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    padding: 15px;
    margin: 0;

}

nav li {
    list-style: none;
    justify-content: space-between;
}

nav ul li a {
    color: white;
    position: relative;
    left: 4%;
    text-decoration: none;
    font-family: sans-serif;
}

.navbar .logo{
    position: absolute;
    left: 3%;
    top :15%;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    margin: 0;
}

.user-action{
    position : absolute;
    right: 10%;
    top: 2%;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    
}

.linenav{
    width: 100%; 
    height: 55px; 
    background-color:white;
    position: absolute;
    top: 0;
    padding: 0%;
    margin: 0%;
    opacity: 0.3;
}
.banner .wrapper .Play{
    font-size: 80px;
    display: flex;
    position: center;
    color: white;
    font-family: arial;

}

.banner .wrapper .Experience{
    font-size: 20px;
    display: flex;
    position: center;
    justify-content: center;
    color: white;
    font-family: Arial;
}

.banner .wrapper .Now{
    position: absolute;
    left: 48%;
    top: 65%;
    background-color: yellow;
}

.banner .wrapper .Story{
    color: white;
    position: absolute;
    left: 50%;
    top : 90%;
    font-family: Arial;
}

.down{
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
        position: absolute;
        left: 52%;
        top: 98%;
      }

#sesi-2{
    width: 100%;
    height: 100vh;
    background-image: url("image/the-games-bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-2 .ask1{
    color: white;
    position: absolute;
    left : 10%;
    top: 20%;
}
.page-2 .ask2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    size: 300px;
    position: absolute;
    left : 10%;
    top: 22%;
    font-size: 40px;
}

.pict-2 img{
    width: 600px;
    height: 350px;
    position: absolute;
    left: 35%;
    top: 22%;
}

.left{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid white; 
    position: absolute;
    right: 67%;
}


.right{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    right: 15%;
}


.lingkaran1{
    width: 10px; 
    height: 10px; 
    background-color:white;
    border-radius: 100px;
    position: absolute;
    top: 75%;
    right: 33%;
    padding: 0%;
    margin: 0%;
}

.lingkaran2{
    width: 10px; 
    height: 10px; 
    background-color:white;
    border-radius: 100px;
    position: absolute;
    top: 75%;
    right: 36%;
    padding: 0%;
    margin: 0%;
}
.lingkaran3{
    width: 10px; 
    height: 10px; 
    background-color:white;
    border-radius: 100px;
    position: absolute;
    top: 75%;
    right: 39%;
    padding: 0%;
    margin: 0%;
}
.lingkaran4{
    width: 10px; 
    height: 10px; 
    background-color:white;
    border-radius: 100px;
    position: absolute;
    top: 75%;
    right: 42%;
    padding: 0%;
    margin: 0%;
}
.lingkaran5{
    width: 10px; 
    height: 10px; 
    background-color:white;
    border-radius: 100px;
    position: absolute;
    top: 75%;
    right: 45%;
    padding: 0%;
    margin: 0%;
}



#sesi-3{
    width: 100%;
    height: 100vh;
    background-image: url("image/features.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-3 .teks1{
    color: white;
    position: absolute;
    top: 15%;
    left: 65%;
}
.page-3 .teks2{
    color: white;
    position: absolute;
    left: 65%;
    top: 17%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
}

.page-3 .teks3{
    color: #FFB548;
    position: absolute;
    left: 68%;
    top: 45%;
    font-family: Arial, Helvetica, sans-serif;
}

.page-3 .teks4{
    color: white;
    position: absolute;
    left: 68%;
    top: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.page-3 .teks5{
    color: #ffb548;
    position: absolute;
    left: 68%;
    top: 65%;
    font-family: Arial, Helvetica, sans-serif;
}

.page-3 .teks6{
    color: #FFB548;
    position: absolute;
    left: 68%;
    top: 75%;
    font-family: Arial, Helvetica, sans-serif;
}

.lingkar1{
    width: 10px; 
    height: 10px; 
    background-color:white;
    border-radius: 100px;
    position: absolute;
    top: 48%;
    right: 33.2%;
    padding: 0%;
    margin: 0%;
}

.lingkar2{
    width: 10px; 
    height: 10px; 
    background-color:white;
    border-radius: 100px;
    position: absolute;
    top: 68%;
    right: 33.2%;
    padding: 0%;
    margin: 0%;
}
.lingkar3{
    width: 10px; 
    height: 10px; 
    background-color:white;
    border-radius: 100px;
    position: absolute;
    top: 78%;
    right: 33.2%;
    padding: 0%;
    margin: 0%;
}
.line{
    width: 2px; 
    height: 130px; 
    background-color:white;
    position: absolute;
    top: 48%;
    right: 33.5%;
    padding: 0%;
    margin: 0%;
}

#sesi-4{
    width: 100%;
    height: 100vh;
    background-image: url("image/requirements.png");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-4 .system{
    color : white;
    position: absolute;
    top : 10%;
    left : 7%;
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}
.page-4 .req{
    color : white;
    position: absolute;
    top : 10%;
    left : 7%;
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif ;
}
.page-4 .can{
    color : white;
    position: absolute;
    top : 10%;
    left : 45%;
}

#sesi-5{
    width: 100%;
    height: 100vh;
    background-image: url("image/top-score-bg.png");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-5{
    widht: 30%;
    height: 30%;
    position: absolute;
    top: 30%;
    left: 7%;
}

.top{
    font-size: 56px;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.this{
    padding: 0%;
    height: 0;
    font-family: Arial;
}
.see{
    width: 260px;
    height: 60px;
    color: black;
    background-color: #FFB548;
    position: relative;
    top :30%;
    left:15%;
    font-size:20px;
}
#sesi-6{
    width: 100%;
    height: 100vh;
    background-image: url("image/the-games-bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-page6{
    width: 650px;
    position: absolute;
    top: 14%;
    right : 10%;
}
.want{
    font-family: Arial;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.news{
    font-family: arial;
    color: white;
    font-size: 80px;
    padding: 0;
    margin: 0;
}

.inorder{
    font-family: arial;
    color: white;
    padding: 5px;
    margin: 0;
    font-size: 12px;
}

.images-page6 img{
    width: 250px;
    height: 380px;
    position: absolute;
    top: 7%;
    left: 10%;
}

.line6{
    width: 80%; 
    height: 2px; 
    background-color:white;
    position: absolute;
    top: 87%;
}

.footer1{
    color: white;
    font-family: sans-serif;
    position: absolute;
    font-size: 14px;
    left: 10%;
    top: 90%;
}

.footer2{
    color: white;
    font-family: sans-serif;
    position: absolute;
    font-size: 14px;
    right: 10%;
    top: 90%;
}

.footernav {
    position: absolute;
    width: 100%;
    top: 78%;
    left: 0%;
    justify-content: space-around;
    display: flex;
}

.footernav ul {
    display: flex;
    position: absolute;
    top: 15%;
    left: 20%;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    padding: 15px;
    margin: 0;

}

.footernav li {
    list-style: none;
    justify-content: space-between;
}

.footernav ul li a {
    color: white;
    position: relative;
    left: 4%;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
}

.sosmed{
    padding: 0;
    margin:0;
    position: absolute;
    top: 80%;
    right: 12%;
    word-spacing: 60px;

}
